.footAbaoutUs {
    background-color: rgb(9, 100, 136);
    padding: 0 0 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footAbaoutUsInfo {
    width: 50%;
    padding-right: 5rem;
}

.footAbaoutUsInfo h3 {
    font-size: 2rem;
    color: rgb(63, 210, 255);
}

.footAbaoutUsInfo h4 {
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}

.footAbaoutUsInfo p {
    padding-top: .3rem;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-style: italic;
}

.footAbaoutUsImg {
    background-color: white;
    width: 50%;
    height: auto;
}
.footAbaoutUsImg img {
    width: 100%;
    height: auto;
}

.footAbaoutUsButton {
    padding: 2rem 0;
}

.footAbaoutUsButton button {
    color: #0D47A1;
    background-color: rgb(63, 210, 255);
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 800;
    padding: .2rem 1rem;
    border: 1px solid rgb(11, 38, 73);
    border-radius: .2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.footAbaoutUsButton button:hover {
    background-color: rgb(63, 210, 255);
    cursor: pointer;
}

@media (max-width: 1500px) {
    .footAbaoutUsImg {
        width: 45%;
    }

    .footAbaoutUsInfo h3 {
        font-size: 1.8rem;
    }
    
    .footAbaoutUsInfo h4 {
        font-size: 1rem;
    }
    .footAbaoutUsInfo p {
        font-size: .8rem;
    }
    .footAbaoutUsButton {
        padding: 1rem 0;
    }

}

@media (max-width: 1220px) {
    .footAbaoutUs {
       padding: 2rem;
    }
    .footAbaoutUsImg {
        display: none;
    }
    .footAbaoutUsInfo {
        width: 100%;
        padding: 0;
    }

}

@media (max-width: 750px) {}

@media (max-width: 580px) {
    .footAbaoutUsButton {
        padding: 2rem 0;
        text-align: center;
    }
}

@media (max-width: 460px) {}

@media (max-width: 400px) {}