.HCarrousel {
    position: relative;
    background-image: url('/public/bb.jpg');
    background-size: cover;
    background-position: center;
    height: 50rem;
    opacity: 0.9;
}

.HCarrousel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 11, 20, 0.5);
    filter: blur(1px);
}

.contentCarro {
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    max-width: 60%;
}

.contentCarroTitle {
    max-width: 65%;
}

.contentCarro h3 {
    font-size: 3.5rem;
    color: #0ad4f8;
    font-weight: 800;
}

.contentCarro p {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 2rem 0;
    max-width: 55%;
    font-style: italic;
    font-weight: 900;
}

.contentCarro button {
    color: #0D47A1;
    background-color: #ffffff;
    font-size: 1.8rem;
    font-weight: 800;
    padding: .2rem 1rem;
    border: 1px solid #0b2649;
    border-radius: .2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: .5rem;
}

.contentCarro button:hover {
    background-color: rgb(63, 210, 255);
    cursor: pointer;
}

.titleCarro {
    color: rgb(255, 255, 255);
}

@media (max-width: 1500px) {
    .contentCarroTitle h3 {
        font-size: 3rem;
    }

    .contentCarro p {
        font-size: 1.2rem;
    }

}

@media (max-width: 1020px) {
    .contentCarro {
        max-width: 90%;
    }

    .contentCarroTitle h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 750px) {
    .HCarrousel {
        height: 40rem;
    }
    .contentCarro {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 10%;
        left: 0rem;
        transform: translateY(0%);
        max-width: 100%;
    }
    .contentCarro button {
        font-size: 1.3rem;
    }
}

@media (max-width: 580px) {
    .HCarrousel {
        height: 35rem;
    }
    .contentCarro {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 10%;
        left: 0rem;
        transform: translateY(0%);
        max-width: 100%;
    }
    .contentCarroTitle h3 {
        font-size: 2rem;
    }

    .contentCarro p {
        font-size: 1rem;
    }
}

@media (max-width: 460px) {

    .contentCarroTitle h3 {
        font-size: 1.7rem;
    }

    .contentCarro button {
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {
    .HCarrousel {
        height: 30rem;
    }
    .contentCarroTitle h3 {
        font-size: 1.5rem;
    }

    .contentCarro button {
        font-size: 1rem;
    }
    .contentCarro p {
        font-size: .8rem;
    }
}